<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zephyr.message">

    <application>
        <activity
            android:name=".MessageDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_message_detail"
            android:theme="@style/Theme.ComponentProcessorDemo.NoActionBar" />
    </application>

</manifest>